/* stylelint-disable selector-class-pattern */
:host {
  position: absolute;
  // transform: translate(-50%, -50%);
  // transform-origin: top left;
  ::ng-deep {
    .container {
      position: relative;

      .light2 {
        pointer-events: auto;
        transform-origin: center center;

        &.isControl {
          cursor: pointer;
        }
      }
    }
  }
}
