/* stylelint-disable selector-class-pattern */
:host {
  position: absolute;
  transform: translate(-50%, -50%);

  ::ng-deep {
    .container {
      position: relative;
      overflow: hidden;
      border-radius: 50%;

      .light {
        &.isControl {
          cursor: pointer;
        }
      }

      .name {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 10px;
        border: 1px solid rgb(80 135 236 / 100%);
        border-radius: 4px;
        font-size: 14px;
        color: rgb(255 255 255 / 100%);
        text-align: center;
        white-space: nowrap;
        background-color: rgb(18 36 82 / 100%);

        &.lightNameR {
          top: 40px;
          bottom: auto;
        }
      }
    }
  }
}
