:host {
  ::ng-deep {
    .main {
      // width: 1920px;
      position: relative;
      z-index: 10;
      // .imgs {
      //   width: 100%;
      //   height: calc(100vh - 64px;);
      //   position: absolute;
      //   z-index: 20;
      //   display: flex;
      //   justify-content: flex-start;
      //   align-items: center;
      //   // background: rgba(255, 0, 0, 0.434);
      //   .left {
      //     width: 28%;
      //     height: 100%;
      //     // background-image: url(../../../assets/tmp/home/left.png);
      //     // background-size: 100% 100%;
      //     // background-repeat: no-repeat;
      //     // background-position: left center;
      //     z-index: 21;
      //   }
      //   .center {
      //     flex-grow: 1;

      //     height: 100%;
      //     position: relative;
      //     // &::after {
      //     //   content: '';
      //     //   width: 130%;
      //     //   height: 100%;
      //     //   position: absolute;
      //     //   left: 50%;
      //     //   top: 50%;
      //     //   transform: translate(-50%, -50%);
      //     //   background-image: url(../../../assets/tmp/home/center.png);
      //     //   background-size: 100% auto;
      //     //   background-position: 50% 50%;
      //     //   background-repeat: no-repeat;
      //     //   z-index: 19;
      //     // }
      //   }
      //   // .right {
      //   //   width: 28%;
      //   //   height: 100%;
      //   //   // background-image: url(../../../assets/tmp/home/right.png);
      //   //   // background-size: 100% 100%;
      //   //   // background-repeat: no-repeat;
      //   //   // background-position: right center;
      //   //   z-index: 21;
      //   // }
      // }
      .data {
        position: absolute;
        // z-index: 30;
        display: flex;
        place-content: center flex-start;
        width: 100%;
        height: calc(100vh - 64px;);

        .left {
          z-index: 99;
          display: flex;
          // position: absolute;
          // top: 0;
          // left: 0;
          flex-direction: column;
          width: 25%;
          background-image: url('../../../assets/tmp/home/left.png');
          background-repeat: no-repeat;
          background-position: left center;
          background-size: 100% 100%;

          app-box3-echart,
          app-box2-echart,
          app-box1 {
            flex-grow: 1;
          }
        }

        .center {
          display: flex;
          flex-direction: column;
          // flex-grow: 1;
          width: 50%;
        }

        .right {
          z-index: 99;
          // position: absolute;
          // right: 0;
          // top: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-start;
          width: 25%;
          background-image: url('../../../assets/tmp/home/right.png');
          background-repeat: no-repeat;
          background-position: right center;
          background-size: 100% 100%;

          app-device-manage {
            flex-grow: 1;
          }

          .suguestion {
            flex-grow: 1;
            width: 75%;
            margin-right: 20px;
            font-size: 16px;
            color: rgb(88 165 92 / 100%);
            text-align: left;
          }
        }
      }
    }
  }
}
