<!--
 * @Author: tom-cfxu cfxu963852741@qq.com
 * @Date: 2026-03-11 21:46:55
 * @LastEditors: tom-cfxu cfxu963852741@qq.com
 * @LastEditTime: 2026-03-12 00:03:51
 * @FilePath: \fuzhou-subway-project\src\app\routes\data-screen\data-screen.component.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<div class="main">
  <div class="imgs">
    <div class="left"></div>
    <div class="center"></div>
    <div class="right"></div>
  </div>
  <div class="data">
    <div class="left">
      <data-title title="车站碳排放统计"/>
      <app-box1/>
      <data-title title="车站碳排放趋势"/>
      <app-box2-echart/>
      <data-title title="车站碳排放占比"/>
      <app-box3-echart/>
    </div>
    <div class="center"></div>
    <div class="right">
      <data-title title="车站设备碳排放管控" [reverse]="true" />
      <data-title title="车站碳排放建议" [reverse]="true" />
    </div>
  </div>

</div>
