:host {
  padding-left: 30px;
  margin-top: 20px;
  ::ng-deep {
    .main {
      display: flex;
      justify-content: flex-start;
      // max-height: 220px;
    }
    .ant-checkbox + span {
      user-select: none;
    }
  }
}
