:host {
  ::ng-deep {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 600px;
      background-image: url(../../../../../assets/tmp/home/bg2.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      .medal {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 500px;
        position: relative;
        .img {
          height: 300px;
          margin-top: 50px;
        }
        .result {
          margin-bottom: 30px;
          width: 500px;
          line-height: 65px;
          color: rgba(255, 78, 78, 1);
          font-size: 50px;
          text-align: center;
          font-family: YSBiaoTiHei-regular;
          .name {
            color: #58a55c;
          }
        }
      }
    }
  }
}
