:host {
  width: 80%;
  ::ng-deep {
    .container {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
    }
    .title {
      font-family: YSBiaoTiHei-regular;
      font-size: 16px;
    }
  }
}
